/*

/*/

!.gitignore
!README.md

# Include the main folders needed
!SpeckleUnity/
!docs/
!docfx/

# Ignore everything inside project folder
SpeckleUnity/*

# Select which folders become included
!SpeckleUnity/Assets/
!SpeckleUnity/ProjectSettings/
!SpeckleUnity/Packages/
*.unity
.unity.meta
SpeckleUnity/Assets/SpeckleUnity/Tests/Editor/Resources.meta
SpeckleUnity/Assets/SpeckleUnity/Tests/Editor/Resources/User Credentials.asset
SpeckleUnity/Assets/SpeckleUnity/Tests/Editor/Resources/User Credentials.asset.meta
